{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
    <div class="input_container">
        <div class="border">
            {{ form_start(form) }}
            <div class="form">
                <h3 class="edit_text">Le Categorie</h3>
                <div class="form_control">
                    {{ form_label(form.nomcategorie, 'Nom de categorie') }}
                    {{ form_row(form.nomcategorie) }}
                </div>
            </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
